*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
}

:root{
    --primary-color:#3498db;
    --light-color:#fff;
    --dark-color:#000;
    --light-blue:#f7fbfe;
}


img{
    width: 100%;
    height: 100%;
}


.illustration .my-btn,
.aboutus .my-btn
{
    width: 25%;
}

.my-btn{
    border-radius: 30px;
    background-color:var(--primary-color);
    color: var(--light-color);
    border: 2px solid var(--primary-color);
}


.my-btn:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.nav-link{
    color: var(--dark-color);
}

.aa{
    color: var(--primary-color);    
}


.heading{
    font-weight: bolder;
}


.moving-image{
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
}




.blue-patta{
    background-color: var(--light-blue);
}

.underline{
    width: 20%;
    height: 5px;
    background-color: var(--primary-color);
}




ul{
    list-style-type: none;
}


footer{
    background-color: var(--primary-color);
}

.cardyy{
    transition: 0.5s;
}

.gola{
    background-color: var(--primary-color);
}

.gola i{
    color: white;
}

.cardyy:hover,.cardyy-2:hover>div{
    color: white;
    background-color: var(--primary-color);
    opacity: 1;
}

.cardyy:hover>div{
    background-color: white;
}

.cardyy:hover>div>i{
    color: var(--primary-color);
}

.cardyy-2 div{
    color: white;
    background-color: var(--primary-color);
    opacity: 0.8;
    transition: 0.5s;
}

.feat{
    background-color: rgba(233, 233, 233, 0.932);
    margin-top:  10px;
    transition: 0.5s;
}

.feat:hover{
    background-color: var(--light-blue);
    color: var(--primary-color);
}

.house{
    background-color: rgba(233, 233, 233, 0.932);
}

.team{
    background-color: var(--light-blue);
}


.chupa{
    display: none;
        
}

.chupa i{
    color: white;
}

.dabba:hover>.chupa{
display: block;
margin-top: -40.5px;
}

.gas{
    background-position: center;
    
}

.bhura{
    background-color: rgba(0, 0, 0,0.3);
    display: none;
}
.bhura{
    font-size: larger;
    font-weight: bolder;
}
.gas:hover>.bhura{
    display: block;  
}

.gas:hover{
    background-size: 200%; 
}

@keyframes example {
    0%   {margin-left: 30px;}
    25%  {margin-left: 30px;}
    50%  {margin-left: 0px;}
    100% {margin-left: 30px;}
  }







@media(max-width:768px){
.nav-link{
    text-align: center;
}

.nav-link:hover{
    background-color: var(--light-color);
}


.my-btn{
    margin-top: 10px;
    width: 100% !important ;        
}

.padding {
    padding: 1rem
}

.moving-image{
    animation-iteration-count: 0;
    
}

.about-image{
    width: 90%;
}

}